<h1>Write a Definition to Your Own Words!</h1>

<div> 
  <% @terms.each() do |term| %>

  <h2><%= term.post_word() %></h2>
  <p><%= term.post_definition() %></p>
  <% end %>
</div>

<h1>Add a new word to the dictionary:</h1>

<form action="/terms" method="post">
  <label for="word">Word</label>
  <input id="word" name="word" type="text" placeholder="Word">
  <label for="definition">Definition</label>
  <input id="definition" name="definition" type="text" placeholder="Definition">

  <button type="submit">Add Word</button>
</form>
